# Visual Studio
.vs/
*.user
*.suo
*.sln.ide
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# User-specific files
*.userprefs
 
